/* Global wiew = desktop wiew */

html {
    height: 100%;
    max-width: 100%;
    background-image: url(/img/soulium-back-2.jpg);
    background-size: cover;
}

body {
    background-size: cover;
    background-image: url(/img/Soulium.final.png);
    background-size: auto;
    padding-top: 50%;
    padding-bottom: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    color: beige;
}

.box {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
}

.box2 {
    padding-bottom: 10%;
    text-align: justify;
}

p {
    color: white;
}


/* Tablet-wiew */

@media (max-width:700px) {
    body {
        background-image: url(/img/Soulium.final.png);
        background-size: auto;
        padding-top: 50%;
        padding-bottom: 50%;
        background-position: right;
        background-repeat: no-repeat;
    }
    a {
        color: black;
    }
    p {
        display: none;
    }
    .box1 {
        text-align: left;
    }
}


/* Mobile-wiew */

@media (max-width: 380px) {
    body {
        background-image: url(/img/soulium-back-1.jpg);
        background-size: auto;
        background-position: right;
        background-repeat: no-repeat;
        font-size: 1.125rem;
    }
    .box1 {
        padding-top: 50%;
        text-align: center;
    }
}