html{
                background-image: url(/img/soulium-back-1.jpg);
                background-size: cover;   
                 
}
body{

                background-image: url(/img/Soulium.final.png);
                background-size: cover;
                background-position: center;
                background-repeat:no-repeat;
                           
}