html {
    height: 100%;
    max-width: 100%;
    background-image: url(/img/soulium-back-1.jpg);
    background-size: cover;
}

body {
    background-size: cover;
    background-image: url(/img/Soulium.final.png);
    padding-top: 40%;
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
}

a {
    padding-top: 30rem;
    color: white;
}


/* Tablet-wiew */

@media (max-width:680px) {
    body {
        background-image: url(/img/Soulium.final.png);
        padding-top: 50%;
        padding-bottom: 50%;
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
    a {
        color: beige;
    }
}


/* Mobile-wiew */

@media (max-width:340px) {
    body {
        background-image: url(/img/Soulium.final.png);
        padding-top: 50%;
        padding-bottom: 50%;
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
    a {
        color: beige;
    }
}